* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url("KBWSchule.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
.LogIn {
    width:350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: aliceblue;
    padding: 30px;
    border: 5px;
    border-style: solid;
    padding: 15px;
    border-color: darkslateblue;
}
.LogIn h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.LogIn p {
    font-size: 25px;
    margin: 15px 0;
}
.LogIn input {
    font-size: 17px;
    width: 100%;
    height: 35px;
    padding: 15 px 10px;
    border: 0;
    border-radius: 5px;
    background-color: lightgray;
}
.LogIn button {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 70%;
    color: white;
    background-color: darkslateblue;
    
}
