*{
	padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
	box-sizing: border-box;
}

body{
    font-family: helvetica;
    background-image: url(kbw_zeichnung.jpeg.png);
    background-size: cover;
    background-position: center;
    height: 486vh;
    box-sizing: border-box;
    
}
nav{
    background: #aeb1b4 ;
    position: fixed;
	height: 85px;
    width: 100%;
}
label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #494a4b    ;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
a:hover{
    background: #8a8d90   ;
    transition: .5s;
}
