body {
    background: url('kbw.jpeg') no-repeat;
    background-size: cover;
    color: white;
}
ul {
    margin: 0px;
    padding: 0px;
}
ul li {
    float: left;
    width: 200px
    heigth: 40px;
    background-color; black;
}
