* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
.text_links {
    margin-top: 5%;
}
.title-right {
    width: 22%;
    height: 50vh;
    font-size: 40px;
    color: white;
    text-align: center;
    float: right;
    background-color: #e7e7e7;
    margin-right: 15%;
    border: 5px;
    border-style: solid;
    padding: 15px;
    border-color: black;
    background-color: darkslateblue;
}
.paragraph-left {
    width: 70%;
    font-size: 28px;
    float: left;
    margin-left: 16%;
    text-align: justify;
    word-wrap: break-word;
    max-width: 830px;
    margin-bottom: 15%;
    background-color: #e7e7e7;
    border: 5px;
    border-style: solid;
    padding: 15px;
    border-color: darkslateblue;
    background-color: aliceblue;
}
.Themenwahl h1 {
    font-size: 75px;
    color: white;
    width: 1000px;
    text-align: center;
    margin: auto;
    margin-top: 12%;
    border: 5px;
    border-style: solid;
    padding: 15px;
    border-color: black;
    background-color: darkslateblue;
}
.Themenwahl p {
    font-size: 28px;
    text-align: justify;
    word-wrap: break-word;
    max-width: 1400px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    border: 5px;
    border-style: solid;
    padding: 15px;
    border-color: darkslateblue;
    background-color: aliceblue;
}
