* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.Video h1 {
    font-family: sans-serif;
    font-size: 45px;
    color: white;
    width: 1000px;
    text-align: center;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 3%;
    border: 5px;
    border-style: solid;
    padding: 15px;
    border-color: black;
    background-color: darkslateblue;
}
.Film {
    text-align: center;
}
.Video p {
    font-size: 28px;
    text-align: justify;
    word-wrap: break-word;
    max-width: 1400px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    border: 5px;
    border-style: solid;
    padding: 15px;
    border-color: darkslateblue;
    background-color: aliceblue;
}